

<!DOCTYPE html>
<html>
	<head>
		<title>Kayabot</title>
				<!-- link to main stylesheet -->
		<link rel="stylesheet" type="text/css" href="/css/main.css">
	</head>
	<body>
		<nav>
    		<ul>

    		</ul>
		</nav>
		<div class="container">
    		<div class="blurb">
        				

		<p></a></p>
                <p></a></p>
                </div>
		<h2>Talent Is Equally Distributed, Opportunity Is Not. <br> We plan on changing that</h2>
    		</div><!-- /.blurb -->
		</div><!-- /.container -->
		<footer>
    		<ul>
        		<li><a href="mailto:matt@kayabot.com">email</a></li>
        		<li><a href="kayachat.com">kayachat.com</a></li>
			</ul>
		</footer>
	</body>
</html>
